h1 {
	font-size: xx-large;
}

img.logo {
 float:right;
 transition: transform 0.3s ease-out; 
}

img.logo:hover {
 transform: rotate(180deg); 
}

body {
 font-family: sans-serif; 
}

textarea.input_src {
	font-family: Monaco, "Courier New", Monospace;
	font-size: 0.9em;
	border: 1px solid #bbb;
	border-top: 1px solid #777;
	border-bottom: 1px solid #ddd;
	background: #fefefe no-repeat top left;
	padding: 0.2em 0.2em;
	max-width: 1000px;
	font-variant: normal;
	width: 98.5%;
}

header {
	font-family: "Myriad Web", "Myriad Pro", "Gill Sans", Helvetica, Arial, Sans-Serif;
	background-color: white;
	color: navy;
    height: 8em;
    text-align: justify;
    padding: 2em 5%;
}


header::after {
    content: '';
    display: inline-block;
    width: 100%;
}

header > div,
header > div::before,
header nav,
header > div h1 {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

header > div {
    height: 100%;
}

header > div::before {
    content: '';
    height: 100%;
}

header > div h1 {
    font-size: 3em;
    font-style: italic;
}

header nav a {
    padding: 0 0.6em;
    white-space: nowrap;
}

header nav a:last-child {
    padding-right: 0;
}

@media screen and (max-width: 720px){
    
    header {
        height: auto;
    }
    
    header > div,
    header > div h1,
    header nav {
        height: auto;
        width: auto;
        display: block;
        text-align: center;
    }
    
}
header h1#title { 
	font-size: 2em;
}

header a {
	background-color: #365D95;
	text-decoration: none;
	color: #fdfdfd;
	cursor: pointer;
}

header a:hover a:link a:visited a:active  {
	background-color: #365D95;
	text-decoration: none;
	color: #fdfdfd;
}


/*
 * Submit button
 */

footer {
 position:fixed;
 bottom: 1em;
 right: 0.1em;
 font-size: 0.5em;
 z-index: 2;
}

div.submit {
 position: fixed;
 bottom: 4em;
 right: 0.1em;
 z-index: 3;
 overflow: visible;
 width: auto;
}

input[type=submit] {
 color: #365D95;
 padding: 0.5em ;
 font-size: 1.2em;
 border-bottom: 2px solid #444;
 border-right: 2px solid #444;
 border-top: 1px solid #aaa;
 border-left: 1px solid #aaa;
 cursor: pointer;
 background: #eee repeat-x top left;
}

input[type=submit]:active {
    color: #1f2126;
	border-bottom: 1px solid #aaa;
	border-right: 1px solid #aaa;
	border-top: 2px solid #444;
	border-left: 2px solid #444;
}

p.result_ok {
 border: 2px solid green;
 font-size: 120%;
}

p.result_bad {
 border: 2px solid red;
 font-size: 120%;
}
	
ul.nodes {
	list-style-type: none;
}

.about {
	text-align: right;
}

/* Specify that all line numbers appear:
   http://stackoverflow.com/questions/8399547/how-to-add-line-numbers-to-all-lines-in-google-prettify
   */
ol.linenums { margin-top: 0; margin-bottom: 0 } /* IE indents via margin-left */
li.L0, li.L1, li.L2, li.L3,
li.L5, li.L6, li.L7, li.L8 { list-style-type: decimal !important }
/* Alternate shading for lines */
li.L1, li.L3, li.L5, li.L7, li.L9 { background: #eee }
li.L1, li.L3, li.L5, li.L7, li.L9 { background: white }