*.class
*.log
.bloop

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.metals
.settings
.settings/*
.project
.classpath
.cache
/bin
settings.json
.vscode
.ensime_cache
.ensime
.idea

node_modules/
.grunt
# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Runtime data
pids
*.pid
*.seed
*.pid.lock
.npm
*.tgz

*~