/* app css stylesheet */

body {
  padding-top: 20px;
}

h1 {
  color: blue;
  border-bottom: 1px solid gray;
}

#data,
#schema {
 font-family: monospace;
}

pre.data {
 border: 1px blue;
}

pre.schema {
 border: 1px cyan;
}

pre.result {
 border: 1px black;
}
