/* app css stylesheet */

body {
 padding-top: 70px;
}

body > .container {
    padding-top: 40px;
}

h1 {
  color: blue;
  border-bottom: 1px solid gray;
}

#data,
#schema,
#shapeMap {
 font-family: monospace;
}

pre.data {
 border: 1px blue;
}

pre.schema {
 border: 1px cyan;
}

pre.result {
 border: 1px black;
}

.valid {
 border: 1px green;
 color: green;
}

.notValid {
 border: 1px red;
 color: red;
}

div.submit {
 position: fixed;
 bottom: 4em;
 right: 0.1em;
 z-index: 3;
 overflow: visible;
 width: auto;
 padding: 10px 40px;
 margin: 0px 10px 10px 0px;
 border-radius: 10px;
 font-family: 'Pacifico', cursive;
 background-color: #3498DB;
 border-bottom: 5px solid #2980B9;
 text-shadow: 0px -2px #2980B9;
}

#validateButton {
 font-family: 'Pacifico', cursive;
 background-color: #3498DB;
 border: none;
}
.dataPanel {
}
.dataPanel2 {
    width: 45%;
    float: left;
}

/* Schema panel in two columns */
.schemaPanel2 {
  width: 49%;
  float: right;
}
.schemaPanel {
}
.triggerModePanel {
 clear: both;
}

.nodeDiv {
 float: left;
 width: 30%;
}

.shapeDiv {
 float: right;
 width: 30% ;
}

.otherOptions {
 clear: both;
}

.hasShape {
  color: green;
}

.hasNoShape {
  color: red;
}

.explanation {
  color: DimGray;
}

.CodeMirror {
    border: 1px solid #eee;
    height: auto;
}

/* For bootstrap-table height */
.fixed-table-body {
    height: auto; /\*  before 100%*/
}